@tailwind base;
@tailwind components;
@tailwind utilities;

.nlink {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px 0 0 20px;
}

.activeNavlink {
    background-color: #E6E9ED;
    @apply rounded-full lg:rounded-r-none;

    position: relative;
}

.activeNavlink::before {
    @apply lg:absolute lg:block hidden;
    content: "";
    position: absolute;
    top: -50px;
    right: -1px;
    width: 35px;
    height: 50px;
    background-color: transparent;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 0 0 #E6E9ED;
}

.activeNavlink::after {
    @apply lg:absolute lg:block hidden;
    content: "";
    transform: rotateX(180deg);
    position: absolute;
    bottom: -50px;
    right: -1px;
    width: 35px;
    height: 50px;
    background-color: transparent;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 0 0 #E6E9ED;
}

/* Dark mode styles for active navlink */
:where(.dark *) .activeNavlink {
    background-color: #334155;
    /* slate-800 */
}

:where(.dark *) .activeNavlink::before {
    box-shadow: 0 10px 0 0 #334155;
    /* slate-800 */
}

:where(.dark *) .activeNavlink::after {
    box-shadow: 0 10px 0 0 #334155;
    /* slate-800 */
}

.inActiveNavlink:hover {
    @apply rounded-full lg:rounded-r-none;

    position: relative;
    background-color: #f4f4f4;
    /* transition: all 0.1s ease-in; */
}

/* Dark mode styles for inactive navlink hover */
:where(.dark *) .inActiveNavlink:hover {
    background-color: #334155;
    /* slate-700 */
}

.addContentWindow {
    @apply relative flex flex-col items-center justify-center z-50;
}

.expandAnimation {
    animation: expandAddWindow 0.2s ease-in-out forwards;
    z-index: 1000;
}

.confirm-share-window {
    z-index: 1000;
    /* animation: expandShareWindow 0.2s ease-in-out forwards; */
    /* visibility: hidden; */
    /* animation: visibleAnimation  0.5s ease-in 0.2s forwards; */
}

.expandShareAnimation {
    @apply lg:w-2/5 md:w-3/5 w-full lg:top-8 lg:text-left text-center top-20 lg:right-56 right-0 shadow-lg dark:shadow-slate-700;
    animation: expandShareWindow 0.2s ease-in-out forwards;
}

@keyframes expandShareWindow {
    from {
        width: 10rem;
        height: 2.5rem;
        position: fixed;
        right: -41px;
        top: -71px;
        border-radius: 70% 0px 100% 250%;
        /* border: 2px solid #f2f2f2; */
    }

    to {
        height: 20vh;
        backdrop-filter: blur(5px);
        position: fixed;
        border-radius: 30px;
        border: none;
    }
}

@keyframes expandAddWindow {
    from {
        width: 10rem;
        height: 2.5rem;
        position: fixed;
        right: -41px;
        top: -71px;
        border-radius: 70% 0px 100% 250%;
        /* border: 2px solid #f2f2f2; */
    }

    to {
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(7px);
        position: fixed;
        /* background-color: #91959b7b ; */
        /* right: -41px;
       top: -71px; */
        top: 0;
        right: 0;
        /* content: normal; */
        border-radius: 0px 0px 0px 0px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        /* justify-content: center; */
    }
}

.addContentForm {
    visibility: hidden;
    animation: visibleAnimation 0.5s ease-in 0.2s forwards;
}

@keyframes visibleAnimation {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }

}

/* Loading skeleton animtion */
.loadingSkeleton {
    background: linear-gradient(130deg, #f0f0f040 25%, #e0e0e040 50%, #f0f0f040 75%);
    background-size: 200% 100%;
    animation: skeleton-animation 3s infinite linear;

    & .s-box {
        @apply size-60 border-4 ;
        border-radius: 20px;
        background: linear-gradient(130deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: skeleton-animation 3s infinite linear;
    }
}
:where(.dark *) .loadingSkeleton {
    background: linear-gradient(130deg, #65656540 25%, #65656540 50%, #65656540 75%);
    background-size: 200% 100%;
    animation: skeleton-animation 3s infinite linear;
    & .s-box {
        @apply w-40 h-52 border-4 border-gray-700 ;
        background: linear-gradient(130deg, #94949440 25%, #71717140 50%, #94949440 75%);
        background-size: 200% 100%;
        animation: skeleton-animation 3s infinite linear;
    }
}


@keyframes skeleton-animation {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}